.header {
  padding: 1rem 0 3rem;
}

.title {
  color: #333;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-link {
  color: #999;
  margin-right: 1rem;
  text-decoration: none;

  &:hover {
    color: #666;
  }
}

.active-nav-link {
  color: #333;
}